<h1>不登校生のためのマッチングサイトClue</h1>
<h2>不登校生の方へ</h2>
<p>Clueは、不登校生・親御様×元不登校生・カウンセラーをマッチングするサイトです。</br>

外に出たいけど、出る勇気がわかない。この気持ちを誰かにわかってもらいたいけど、相談する人がいない。</br>
親に学校に行かなくても大丈夫だということを伝えたい。</br>
Clueではそんな同じ経験をした、人生の先輩方とお話をして繋がることで、少しでも生きる楽しさや希望を見つけて頂ければと思います。</br>
自分自身が不登校だった時に毎日そんなことを考えていました。不登校という言葉を受け入れるまでにも長い年月がかかりました。</br></p>

