<div class="container">
  
  <h2>パスワード再設定</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <label class="col-sm-2 control-label">Eメールアドレス</label>
    <div class="col-sm-6">
      <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"タイトル" %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit "パスワードの再設定手順を送信" %>
    </div>
  </div>
<% end %>

<%#= render "devise/shared/links" %>

</div>
