<h1>Clue管理画面</h1>
<ul>
    <li><%= link_to 'ユーザー管理', managers_users_path %></li>
    <li><%= link_to '収支管理', managers_account_path %></li>
    <li><%= link_to '通報アカウント管理', managers_report_path %></li>
</ul>