<h1>新着情報</h1>
<table class="table">
  <thead>
    <tr>
      <th class="col-xs-3">タイトル</th>
      <th class="col-xs-4">内容</th>
      <th class="col-xs-3">開催日時</th>
      <th class="col-xs-1">参加費</th>
    </tr>
  </thead>
  <tbody>
<% @events.each do |ev| %>
    <tr>
      <td><%= link_to ev.title.truncate(24), event_path(ev.id) %></td>
      <td><%= ev.content.truncate(24) %></td>
      <td><%= ev.held_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
      <td><%= number_to_currency( ev.price, :format => "%u%n", :unit =>"￥") %></td>
    </tr>
<% end %>
  </tbody>
</table>
