/*
 *= require_tree .
 *= require_self
 *= require fancybox
*/

/* General Tag */
a {
  text-decoration: none;
  display: block;
}

strong {
  font-weight: bold;
}

.nav {
  margin-left: 10px;
}

.nav a {
  display: inline
}

.container1 a {
  color: #FFF;
}

html,
body {
  height: 100%;
  /* html と body 要素はパディングやマージンを持てません。*/
}

/* フッターを下部へ押しやるための、コンテンツのラッパー */
#wrap {
  position:relative;
  min-height: 100%;
  height: auto;
   height: auto !important; /* IE6じゃmin-height使えないからIE6専用にこの行と次の行をこう書くよ */
    height: 100%

  /* フッターの高さ分だけ、ネガティブインデントを指定
  margin: 0 auto -90px; */
  /* フッターの高さ分だけ、パディングを指定 
  padding: 0 0 220px;*/
}

/* ここでフッターの高さを指定
#footer {
  height: 90px;
}
 */