/*
 *= require_tree .
 *= require_self
 *= require fancybox
 *= require font-awesome
*/

/* General Tag */
a {
  text-decoration: none;
  display: block;
}

strong {
  font-weight: bold;
}

.nav {
  margin-left: 10px;
}

.nav a {
  display: inline
}

.container1 a {
  color: #FFF;
}

html,
body {
  height: 100%;
  /* html と body 要素はパディングやマージンを持てません。*/
}

/* フッターを下部へ押しやるための、コンテンツのラッパー */
#wrap {
  position:relative;
  min-height: 100%;
  height: auto;
   height: auto !important; /* IE6じゃmin-height使えないからIE6専用にこの行と次の行をこう書くよ */
    height: 100%

  /* フッターの高さ分だけ、ネガティブインデントを指定
  margin: 0 auto -90px; */
  /* フッターの高さ分だけ、パディングを指定 
  padding: 0 0 220px;*/
}

/* ここでフッターの高さを指定
#footer {
  height: 90px;
}
 */
 

/* validation error field(s) marker */
.field_with_errors {
  width: 100%;
  display: inline-block;
  border: 1.5px solid #f00;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 10px;
}
/* alert pop-up message */
.alert-info {
  max-width: 500px;
  position: fixed;
  margin: 0 auto;
  top: 43px;
  left: 0;
  right: 0;
  z-index: 2000000000;
  -webkit-box-shadow: 0px 0px 4px rgba(51,51,51,0.2);
  box-shadow: 0px 0px 4px rgba(51,51,51,0.2);
}
