footer { width: 100%;
    font-size: 13px;
/*
    position: absolute;
    bottom: 0px; */

    a{
        color: #ffffff;
        line-height: 1.5em;
    }
}
  


.footer-clueline {
  height: 10px;
  background: url('top/clueline.png') repeat-x;
}


.footer-menu-center img{
  width: 30px;
  margin-right:10px;
  margin-bottom:5px;
  float:left;
}
.footer-menu-center .p1{
    clear:both;
    }

