/* Header */

header {
  height: 60px;
  background: #e5ded5;
  overflow: hidden;
}

header li {
  width: 140px;
  height: 50px;
  margin: 5px;
  text-align: center;
}

.clue-logo {
  width: 120px;
  float: left;
}

.clue-logo img {
  padding-top: 10px;
  width: 120px;
}

.header-menu {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  font-size: 1.3em;
}

header a {
  color: #000000;
}

header strong {
  font-size: 2em;
}

header p {
  font-size: .8em;
  width: 240px;
  float: left;
  padding-top: 26px;
}

