.manager-users {
    width: 100%;
    padding: 10px 0px;
    h1, h2 {
        text-align: center;
    }
    table {
        margin: 0px auto;
        th, td {
            width: auto;
            padding: 0px;
            text-align: center;
        }
    }
}

.manager-account {
    table {
        margin: 0px auto;
        width: auto;
        th, td {
            padding: 0px;
            text-align: center;
        }
    }
    img {
        width: 30px;
        height: 30px;
        background: #FFF;
    }
}

.manager-report {
    width: 100%;
    padding: 10px 0px;
    table {
        margin: 0px auto;
        img {
            width: 30px;
        }
        th, td {
            width: auto;
            padding: 0px;
            text-align: center;
        }
    }
}