h1 {
  font-size: 30px;
  padding: 5px;
}

.students-index-profiles {
  margin: 20px auto;
  width: 90%;
  text-align: center;

  .row {
    .students-index-profile {
      margin-bottom: 20px;
      
      .students-index-image {
        width: 200px;
        height: 130px;
        padding: 20px;
        background: #0099FF;
        position: relative;
        border-radius: 10px 10px 0px 0px;
        margin-right: auto;
        margin-left: auto;

        img {
          width: 90px;
          border-radius: 50%;
        }
        .no-image {
          height: 90px;
          background: #FFF;
        }
        .area {
          position: absolute;
          top: 5px;
          right: 5px;
        }
        .price {
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }
      .students-index-data {
        width: 200px;
        height: 100px;
        padding: 10px;
        background: #f0f8ff;
        border-radius: 0px 0px 10px 10px;
        margin-right: auto;
        margin-left: auto;
        overflow: scroll;
      }
    }
  }
}