h1 {
  font-size: 32px;
  padding: 5px;
}

.students-index-profiles {
  margin: 20px auto;
  width: 90%;
  text-align: center;

  .row {
    .students-index-profile {
      margin-bottom: 20px;
      
      .students-index-image {
        width: 175px;
        padding: 10px;
        background: #FF0;
        position: relative;
        border-radius:10px;
        margin-right: auto;
        margin-left: auto;

        img {
          width: 80px;
          border-radius: 50%;
        }
        .no-image {
          height: 80px;
          background: #FFF;
        }
        .area {
          position: absolute;
          top: 5px;
          right: 5px;
        }
        .price {
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }
      .students-index-data {
        width: 175px;
        height: 110px;
        padding: 10px;
        background: #FFD;
        margin-right: auto;
        margin-left: auto;
        overflow: scroll;
      }
    }
  }
}