h1 {
  font-size: 30px;
  padding: 5px;
}

.supporters-index-profiles {
  margin: 20px auto;
  width: 90%;
  text-align: center;
  
  .row {
    .supporters-index-profile {
      margin-bottom: 20px;

      .supporters-index-image {
        width: 200px;
        height: 130px;
        padding: 20px;
        background: #FF0;
        position: relative;
        border-radius: 10px 10px 0px 0px;
        margin-right: auto;
        margin-left: auto;
        img {
          width: 90px;
          border-radius: 50%;
        }
        .no-image {
          height: 90px;
          background: #FFF;
        }
        .area {
          position: absolute;
          top: 5px;
          right: 5px;
        }
        .price {
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }
      .supporters-index-data {
        width: 200px;
        height: 100px;
        padding: 10px;
        background: #FFD;
        border-radius: 0px 0px 10px 10px;
        margin-right: auto;
        margin-left: auto;
        overflow: scroll;
      }
    }
  }
}
.clear{
  clear: both;
}

.supporter-show {
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #FFF;
  }
}
.content900{
  max-width:900px;
  margin:10px auto;
  
.supporter-box{
  background-color:#FFF;
  padding:20px;
  margin-bottom:10px;
  p{
    font-size:20px;
  }
}
   
    .img-box{
      background-color:#FF0;
      width:100%;
      img{
        margin:0 auto;
        margin:20px;
      }
    }
    h2{
      font-weight:bold;
      margin-bottom:20px;
    }
    .supporter-kikkake{
      li{
        width: 200px;
        background-color:#7fffd4;
        disply: inline-block;
        padding:10px;
        margin-bottom:10px;
         }
    }
}