/* Top Index */
.top-index-image {
  width: 100%;
  height: 500px;
}


  
li {
  text-decoration: none;
   }
  

.top-index-search {
  width: 600px;
  margin: 20px auto;
  a {
      background: #E3F2FD;
      border: 2px solid #2196F3;
      margin-bottom: 10px;
      padding: 5px;
      text-align: center;
  }
  }


/*全体の背景色*/
body{
  background-color:#f5f6d9;
}

/*フォームの間隔
.form-control {
  margin:10px 0 10px 0;
}
.control-label{
  padding:13px;
}*/

/*アラートやメッセージ*/
.notice{
  margin:10px;
}