/*inputボタンのデザイン*/
 input[type="submit"]{
 //           margin:20px 0 20px 250px;
            margin:20px 0;
            min-width:100px;
            height:40px;
            background-color:#5bc0de;
            padding:10px;
            border-radius:10px;
            
        }   
/*new 新規登録画面*/        
#new_user{
    .new-touroku{
        margin-left:auto;
        margin-right:auto;
        padding-bottom:0 !important;
        label{
           margin:10px 0;
           float:left;
        }
        .form-control{
          float:right;
          margin-bottom:10px;
        }
        p{
         margin:10px 0;
        }
     }
   
}

/*users/sign_in ログイン画面*/
.new-rogin{
   label{
       margin-top:8px;
   }
    .form-control{
        margin-bottom:10px;
    }
}


/*register　登録画面*/
.content600-1{
    width:100%;
    max-width:600px;
    margin:20px auto;
   
    }
    .hyou1{
       
        dl{
            dt{
                padding:13px 0 0 10% !important;
            }
            dd{
                padding-left:10% !important;
            }
        }
        li:nth-of-type(2){
                height:100px;
                dt{
                    label{
                    padding-top:25px !important;
                    }
                }
                dd{
                    padding-top:20px !important;
                }
                p{
                    font-size:12px;
                }
            }
    }
 

    
    /*写真を丸くする*/
  .user-show-profile{
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #FFF;
    }
  }
/*表のデザイン*/
    ul.hyou1{
        margin-top:20px;
        max-width:600px;
        height:100%;
        padding:0;
        
    
        li{
            margin:0;
            padding:0;
           box-sizing:border-box;
            border: solid 1px #000;
            border-top:none;
            width:100%;
            min-height:50px;
          }
          li:first-of-type {
          border-top: solid 1px #000;
             }
       
                  
         dl{
                padding:0;
                margin:0;
                min-height:50px;
                height:100%;
                background-color:#FFF;
                dt{
                    padding:0;
                    border-right:solid 1px #000;
                    background-color:#5bc0de;
                    float:left;
                    min-width:250px;
                    min-height:50px;
                    height:100%;
 
                }
                 
                dd{
                    min-width:347px;
                    height:100%;
                    
                 //   margin-left:250px;
                   padding:13px 0 0 70px;
                  
                }
                /*フォームの外装*/
         input, select{
             border-radius:5px;
             border:solid 2px #5bc0de;
             height:30px;
         }
}
    }  
 //users/add_infoのページのデザイン

.hyou1-1{
    margin:10px;
   
    li{
        border:1px solid #000;
        height:50px;

        .hyou-hidari{
            border-right:1px solid #000;
            border-bottom:1px solid #000;
            background-color:#5bc0de;
            height:100%;
            height:50px;
            padding:15px 0 0 8%;
            
        }
        .hyou-migi{
            border-bottom:1px solid #000;
            background-color:#FFF;
            height:100%;
            height:50px;
            padding:15px 0 0 8%;
            
            //フォームデザイン
            input, select{
                border-radius:5px;
                border:solid 2px #5bc0de;
                height:30px;
                margin-top:-5px;
            }
        }
    }
     li:nth-of-type(2){
         height:80px;
         div{
             height:80px;
         }
     }
}
@media screen and (max-width:767px) { 
    /*　画面サイズが767px以下の場合読み込む　*/
   .hyou1-1{
       li{
           height:100px;
           .hyou-hidari{
               border-right:0;
               height:50px;
           }
           .hyou-migi{
               height:50px;
           }
           .hyou-migili:nth-of-type(2){
               height:50px;
           }
       }
        li:nth-of-type(2){
            height:130px;
             div{
             height:50px;
                 }
            .hyou-migi{
                height:80px;
            }
        }
   }
}


/* TODO 後で必要か確認 */
.user-show-edit-btn {
    width: 600px;
    margin: 20px auto;
    ul {
        width: 600px;
        margin: 0px auto;
        /*送信ボタンの位置を右に寄せる*/
            form .btn-touroku{
                    margin-left:250px;
                }
    }
    li {
        width: 190px;
        float: right;
        text-align: center;
        a {
            width: 186px;
            border: 2px solid #4CAF50;
            padding: 10px 0px;
            background: #E8F5E9;
            color: #000;
        }
        a:hover {
            background: #4CAF50;
            color: #FFF;
        }
        margin-bottom: 20px;
    }
    li:not(:first-child) {
        margin-right: 15px;
    }
}

/*confirm_register 登録情報の確認*/
.content600{
    max-width:600px;
    margin:20px auto;
    
    /*送信ボタンの位置を右に寄せる*/
    form .btn-touroku{
            margin-left:200px;
        }

}
@media screen and (max-width:767px) { 
    /*　画面サイズが767px以下の場合読み込む　*/
   .content600{
       width:90%;
   }
}
table{
    margin-top:20px;
    width:600px;
    tr{
        height:50px;
    
        th{
            border:solid 1px #000;
            background-color:#5bc0de;
            width:250px;
            min-height:50px;
       
            vertical-align:middle;
            padding-left:10%;
        }
        td{
            border:solid 1px #000;
             width:347px;
             min-height:50px;
             background-color:#FFF;
             margin-left:250px;
            vertical-align:middle;
            padding-left:10%;
        }
    }
}

/*プロフィールの登録　add_info*/
.hyou3 {
    td{
        padding-left:20px;
    }
     input,select{
        border-radius: 5px;
        border: 2px solid #5BC0DE;
        height: 30px;
        
    }
}
    /*送信ボタンの位置を右に寄せる*/
    .btn-touroku{
        margin-left:250px;
    }
/*コメントのボックスのサイズ*/
    #user_profile{
        height:100%;
        min-height:100px;
        max-width:270px;
        max-height:300px;
        margin:5px;

    }
    
/* 口座登録 */
.user-account {
    width: 600px;
    padding-bottom: 30px;
    margin: 0px auto;
    ul.kana-field {
        width: 10%;
        float: left;
        li {
            font-size: 20px;
            text-align: center;
            padding: 10px 0px;
        }
    }
    ul.search-bank {
        width: 600px;
        margin: 0px auto;
        clear: both;
        li {
            width: 150px;
            float: left;
            text-align: center;
            a {
                height: 52px;
                padding: 10px 0px;
            }
        }
    }
}