<p>こんにちは <%= @resource.email %>!</p>

<p>Clueをご利用頂きありがとうございます。下のリンクを介しPasswordの変更が出来ます。</p>

<p><%= link_to '新しいPasswordを作成する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>リンクを要求していない場合は、このメールを無視してください。</p>
<p>Passwordは、上記のリンクにアクセスするまで新しいものを作成しません。</p>
