<div style="display:none;">
  <div id="search_supporters">
    <% if user_signed_in? %>

    <h1>サポーターを探す</h1>
    <%= form_tag search_supporters_path, class:"form-inline" do %>
      <%= render 'shared/search_form', absence_selector:true %>
    <% end %>

    <% end %>
  </div>
</div>
